.menu{
    display: flex;
    padding: 4px;
    justify-content: space-between;
    align-items: center;
    background: #545659;
    position: fixed;
    top: 50px;
    left: 20px;
    right:20px;
   
}
.menu li{
    list-style: none;
    color:black;
    background-color:rgb(190, 50, 169);
    float: right;
    line-height: 60px;
    vertical-align: middle;
    text-align: center;


}
.menu a{
    text-decoration: none;
    color:white;
    display: block;
    width: 300px;
    font-size: 18px;
    font-weight: bold;
    font-family: "돋움", dotum, "굴림", gulim, arial, helvetica, sans-serif;

    
}
.menu a:hover{
    color:rgb(10, 59, 143);
    background-color: tomato;
}
.image{
    text-align: center;
	margin-bottom: 0%;
   

}